<app-filters (dateChanged)="onDateChanged($event)"></app-filters>

<!-- <app-filters (datechanged)="onDatechanged($event)"></app-filters> -->
<div class="charts-wrapper">
  <app-revenue-categories-chart
    [data]="categoryChartData$ | async"
    [loading]="loading$ | async"
  >
  </app-revenue-categories-chart>
  <app-revenue-intensity-chart 
    [data]="intensityChartData$ | async"
    [dateRange]="payLoadOfDateRange$ | async"
    [loading]="loading$ | async"
  ></app-revenue-intensity-chart>
</div>

<div class="table-wrapper">
  <app-every-day-facts-table
    [dateRange]="dateRange"
  ></app-every-day-facts-table>
</div>
