<div class="mat-elevation-z8" *ngIf="tableData">
  <mat-spinner class="spinner" *ngIf="loading"></mat-spinner>

  <table
    mat-table
    [dataSource]="tableData"
    matSort
    matSortActive="date"
    matSortDisableClear
    matSortDirection="asc"
    (matSortChange)="onSortChanged($event)"
  >
    <ng-container matColumnDef="dimension">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        sortActionDescription="Sort by dimension"
      >
        Dimension
        <!-- just dummy commit -->
      </th>
      <td mat-cell *matCellDef="let element">{{ element.dimension }}</td>
    </ng-container>

    <ng-container matColumnDef="date">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        sortActionDescription="Sort by date
        "
      >
        Date
      </th>
      <td mat-cell *matCellDef="let element">{{ element.date | date }}</td>
    </ng-container>

    <ng-container matColumnDef="quantity">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        sortActionDescription="Sort by quantity"
      >
        Quantity
      </th>
      <td mat-cell *matCellDef="let element">{{ element.quantity }}</td>
    </ng-container>

    <ng-container matColumnDef="volume">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        sortActionDescription="Sort by volume"
      >
        Volume (GEL)
      </th>
      <td mat-cell *matCellDef="let element">{{ element.volume }}</td>
    </ng-container>

    <ng-container matColumnDef="average">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        sortActionDescription="Sort by average"
      >
        Average (GEL)
      </th>
      <td mat-cell *matCellDef="let element">{{ element.average }}</td>
    </ng-container>

    <ng-container matColumnDef="differenceQuantity">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        sortActionDescription="Sort by differenceQuantity"
      >
        Difference quantity
      </th>
      <td mat-cell *matCellDef="let element">
        {{ element.differenceQuantity }}
      </td>
    </ng-container>

    <ng-container matColumnDef="differenceVolume">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        sortActionDescription="Sort by differenceVolume"
      >
        Difference volume
      </th>
      <td mat-cell *matCellDef="let element">{{ element.differenceVolume }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>


  <mat-paginator
    [length]="tableDataLength"
    [pageSize]="50"
    aria-label="Select page elements"
  >
  </mat-paginator>
</div>
