.filters-wrapper {
  width: 100%;
  padding: 10px 20px 30px 20px;
  text-align: center;
  form {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
  p {
    padding: 20px;
  }
}
