<div class="filters-wrapper">
  <p>Please Choose Beginning and End Date To Filter Data</p>
  <form (ngSubmit)="onSubmit()" [formGroup]="dateFilterForm">
    <mat-form-field appearance="fill">
      <mat-label>Choose Begginning Date</mat-label>
      <input
        matInput
        [matDatepicker]="beginningpicker"
        formControlName="startDate"
      />
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle
        matSuffix
        [for]="beginningpicker"
      ></mat-datepicker-toggle>
      <mat-datepicker #beginningpicker></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Choose Ending Date</mat-label>
      <input
        matInput
        [matDatepicker]="endingpicker"
        formControlName="endDate"
      />
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle
        matSuffix
        [for]="endingpicker"
      ></mat-datepicker-toggle>
      <mat-datepicker #endingpicker></mat-datepicker>
    </mat-form-field>
    <button mat-raised-button color="primary" class="mx-4">Primary</button>
  </form>
</div>
